#parent {
    display: flex;
    flex-wrap: wrap;
    /* column-count: 3; */
}

.column {
    background-color:blanchedalmond;
    border: 2px solid red;
    margin: 0px 10px 20px;
}

img {
    width: 100%;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 20%;
}